<section id="service-center">
  <div class="container">
    <div class="row">
      <h1 class="main-header">Service Center</h1>
      <%= react_component("MainApp", props: @chat_bot_props, prerender: false) %>
    </div>
  </div>
</section>
