<div class="card">
  <div class="card-block">
    <div class="row">
      <!-- <div class="col-md-1"> -->
        <%# gravatar_for message.user %>
      <!-- </div> -->
      <div class="col-md-12">
        <p class="card-text">
          <span class="text-muted"><strong><%= name %></strong> at <strong><%= Time.now.strftime('%d %B %Y %H:%M:%S') %></strong> says</span><br>
          <%= message %>
        </p>
      </div>
    </div>
  </div>
</div>
