// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  font-family: 'Raleway', sans-serif;
}
h2 {
  color: rgba(#2e3030, 0.72);
}
.divider {
  height: 2px;
  background-color: rgba(255,255,255, 0.72);
  width:100%;
  display:block;
  overflow:hidden;
  margin: 5px 5px;
}
.leftTableElement {
  width: 100%;
  text-align:left;
}
.rightTableElement {
  width: 100%;
  text-align:center;
  padding-left: 5px;
}
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.axis--x path {
  display: none;
}
.graph {
  margin-top:50px;
}
#messages {
  max-height: 350px;
  overflow: auto;
}
.sliderBackground {
  background-color: rgba(#111011, 0.64);
}
.button-align {
  margin: 0 auto;
  width: 50%;
  align-content: center;
}
.navbar-toggle {
  padding: 20px, 0, 0, 0;
}
#service-center .main-header {
  margin-left: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #5DCA88;
  margin-top: 12vh;
}
#service-center .row:after{background: rgba(#2e3030, 0.72);
content: "";
height: 2px;
position: absolute;
width: 102px;
margin-left: 15px;
}
