// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.graph {
  margin-top:50px;
}

#messages {
  max-height: 350px;
  overflow: auto;
}


.sliderBackground {
  background-color: rgba(#111011, 0.64);
}
