.logo {
  max-width: 130px;
}

.partials-form {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.href {
  text-align: center;
}

/*.sliderBackground {
  background-color: rgba(#111011, 0.64);
}*/
